// 引入文件
@import "mixins.styl"
@import "public.styl"
body
  width 100%
  color: #121212
// 服务
  #fuwu
    background #f8f8f8
    .fuwu-wrapper
      width 1200px
      margin 0 auto
      overflow hidden
      .fuwu-des
        margin 30px auto 30px
        color #121212
        font 700 18px "Microsoft YaHei"
        .fuwu-des-type
          color red1
      .fuwu-type
        font-size 16px
        height 50px
        border 1px solid #eaeaea
        background #fff
        li
          float left
          line-height 50px
          margin 0 10px
          clear-fixed()
          a:link
            color #000
            &:hover
              color red1
          &.fuwu-type-acv
            a:link
              color red1
          &.fuwu-type-first
            margin 0 30px 0 60px
            a
              color #757881
              &:hover
                color #757881
      .fuwu-list
        margin-top 10px
        overflow hidden
        .fuwu-list-left
          float left
          width 960px
          background #fff
          border solid 1px #e5e5e5
          clear-fixed()
          overflow hidden
          .fuwu-list-left-type
            height 60px
            ul
              line-height 60px
              li
                float left
                margin 0 20px
                a
                 color #121212
              .fuwu-active
                border-bottom 4px solid red1
                a
                  color red1
              .fuwu-list-left-type-last
                float right
                clear-fixed()
                font-size 12px
                display flex
                justify-content space-between
                align-items center
                a
                  display inline-block
                  margin 0 10px
                  width 70px
                  height 30px
                  border solid 1px #e5e5e5
                  line-height 30px
                  text-align center
                .page1
                  color red1
          .left-list
            li
              width 980px
              height 200px
              border-bottom solid 1px #e5e5e5
              a
                display inline-block
                width 100%
                height 100%
                img
                  width 140px
                  height 140px
                  margin 30px
                  float left
                  clear-fixed()
                .left-list-des
                  display flex
                  height 140px
                  width 418px
                  float left
                  clear-fixed()
                  margin 35px 0
                  justify-content space-between
                  flex-direction: column
                  span:nth-child(2n+2)
                    color #757881
                    font-size 14px
                  span:first-child
                    color #121212
                    font-size 16px
                  .new-price
                    color red1
                    font-size 14px
                    :first-child
                      font bold 18px "微软雅黑"
                    :last-child
                      margin-left 40px
                      text-decoration line-through
                    .old-price
                      color #757881
                      font-size 14px
                  img
                    width 18px
                    height 17px
                    margin 0 4px 0 0
                    vertical-align middle
                .fuwu-quickly
                  width 60px
                  height 30px
                  margin 30px 60px 0 0
                  border 1px solid red1
                  border-radius 10px
                  float right
                  clear-fixed()
                  font-size 12px
                  text-align center
                  line-height 15px
                  :first-child
                    display block
                    height 15px
                    background red1
                    border-radius 9px 9px 0 0
                    color #ffffff
                  :last-child
                    color red1
                &:hover
                  background #e5e5e5
        .fuwu-list-right
          width 230px
          margin-left 10px
          float left
          border 1px solid #e5e5e5
          background #ffffff
          .right-des
            height 60px
            padding-left 10px
            padding-top 20px
            color #121212
            font 700 20px "Microsoft YaHei"
            border-bottom 1px solid #e5e5e5
          .right-list
            width 100%
            li
              height 200px
              .baoguo
                width 90%
                margin 0 auto
                text-align center
                border-bottom 1px solid #e5e5e5
                img
                  width 70px
                  height 70px
                  margin 30px auto 10px
                .right-list-name
                  height 42px
                  line-height 42px
                  font bold 18px "微软雅黑"
                  color #121212
                .right-list-x
                  height 46px
                  line-height 46px
                  font 200 14px "微软雅黑"
                  color #929292
              &:hover
                background #e5e5e5
      .fuwu-page-wrapper
        width 960px
        height 152px
        line-height 152px
        margin 0 auto
        padding-top 40px
        text-align center
        .fuwu-page
          display flex
          .page-c
            width 80px
            height 30px
            line-height 30px
            border solid 1px #e5e5e5
            color #121212
          .fuwu-page-num
            margin 0 10px
            width 450px
            height 30px
            display flex
            justify-content space-around
            align-items center
            .page-num
              width 32px
              height 30px
              line-height 30px
              border solid 1px #e5e5e5
              background #ffffff
              a
                color #121212
              &.acv, &:hover
                display inline-block
                background red1
                transition .7s
                a
                  color #ffffff