// 引入文件
@import "mixins.styl"
//  赋值
red1 = #e94840
*
  box-sizing border-box
  em
    font-style normal
body
  width 100%
  color: #121212
// 头部
  #header
    background-color #fff
    position relative
    border-bottom solid #e7e7e7 1px
    .nav-transparent
    //position fixed
    //top 0
    //left 0
      .nav-default
        width 1200px
        height 71px
        margin 0 auto
        .nav-left
          float left
          height 65px
          clear-fixed()
          padding 15px 0
        .nav-right
          height 42px
          margin-top 13px
          float right
          clear-fixed()
          li
            float left
            line-height 20px
            text-align center
            clear-fixed()
            padding 10px 15px
            &:first-child
              margin-right 50px
              vertical-align top
            &:last-child
              margin-right 10px
              a
                padding 4px 6px
                color #fff
                background red1
                border-radius 6px
            a
              font-weight bold
              color #121212
              span
                font-weight bold
                color #121212
                vertical-align top
                &.city:hover
                  color red1
              &:hover
                color red1
                transition .5s
// 服务
  #fuwu
    background #f8f8f8
    .fuwu-wrapper
      width 1200px
      margin 0 auto
      overflow hidden
      .fuwu-des
        margin 30px auto 30px
        color #121212
        font 700 18px "Microsoft YaHei"
        .fuwu-des-type
          color red1
      .fuwu-type
        font-size 16px
        height 50px
        border 1px solid #eaeaea
        background #fff
        li
          float left
          line-height 50px
          margin 0 10px
          clear-fixed()
          a:link
            color #000
            &:hover
              color red1
          &.fuwu-type-acv
            a:link
              color red1
          &.fuwu-type-first
            margin 0 30px 0 60px
            a
              color #757881
              &:hover
                color #757881
      .fuwu-list
        margin-top 10px
        overflow hidden
        .fuwu-list-left
          float left
          width 960px
          background #fff
          border solid 1px #e5e5e5
          overflow hidden
          .fuwu-list-left-type
            height 60px
            ul
              line-height 60px
              li
                float left
                margin 0 20px
                a
                 color #121212
              .fuwu-active
                border-bottom 4px solid red1
                a
                  color red1
              .fuwu-list-left-type-last
                float right
                clear-fixed()
                font-size 12px
                display flex
                justify-content space-between
                align-items center
                a
                  display inline-block
                  margin 0 10px
                  width 70px
                  height 30px
                  border solid 1px #e5e5e5
                  line-height 30px
                  text-align center
                .page1
                  color red1
          .left-list
            li
              width 980px
              height 200px
              border-bottom solid 1px #e5e5e5
              a
                display inline-block
                width 100%
                height 100%
                img
                  width 140px
                  height 140px
                  margin 30px
                  float left
                  clear-fixed()
                .left-list-des
                  display flex
                  height 140px
                  width 418px
                  float left
                  clear-fixed()
                  margin 35px 0
                  justify-content space-between
                  flex-direction: column
                  span:nth-child(2n+2)
                    color #757881
                    font-size 14px
                  span:first-child
                    color #121212
                    font-size 16px
                  .new-price
                    color red1
                    font-size 14px
                    :first-child
                      font bold 18px "微软雅黑"
                    :last-child
                      margin-left 40px
                      text-decoration line-through
                    .old-price
                      color #757881
                      font-size 14px
                  img
                    width 18px
                    height 17px
                    margin 0 4px 0 0
                    vertical-align middle
                .fuwu-quickly
                  width 60px
                  height 30px
                  margin 30px 60px 0 0
                  border 1px solid red1
                  border-radius 10px
                  float right
                  clear-fixed()
                  font-size 12px
                  text-align center
                  line-height 15px
                  :first-child
                    display block
                    height 15px
                    background red1
                    border-radius 9px 9px 0 0
                    color #ffffff
                  :last-child
                    color red1
                &:hover
                  background #e5e5e5
        .fuwu-list-right
          width 230px
          margin-left 10px
          float left
          border 1px solid #e5e5e5
          background #ffffff
          .right-des
            height 60px
            padding-left 10px
            padding-top 20px
            color #121212
            font 700 20px "Microsoft YaHei"
            border-bottom 1px solid #e5e5e5
          .right-list
            width 100%
            li
              height 200px
              .baoguo
                width 90%
                margin 0 auto
                text-align center
                border-bottom 1px solid #e5e5e5
                img
                  width 70px
                  height 70px
                  margin 30px auto 10px
                .right-list-name
                  height 42px
                  line-height 42px
                  font bold 18px "微软雅黑"
                  color #121212
                .right-list-x
                  height 46px
                  line-height 46px
                  font 200 14px "微软雅黑"
                  color #929292
              &:hover
                background #e5e5e5
      .fuwu-page-wrapper
        width 960px
        height 152px
        line-height 152px
        margin 0 auto
        padding-top 40px
        text-align center
        .fuwu-page
          display flex
          .page-c
            width 80px
            height 30px
            line-height 30px
            border solid 1px #e5e5e5
            color #121212
          .fuwu-page-num
            margin 0 10px
            width 450px
            height 30px
            display flex
            justify-content space-around
            align-items center
            .page-num
              width 32px
              height 30px
              line-height 30px
              border solid 1px #e5e5e5
              background #ffffff
              a
                color #121212
              &.acv, &:hover
                display inline-block
                background red1
                transition .7s
                a
                  color #ffffff
// promise
  #promise
    height 250px
    padding 60px 0 50px
    text-align center
    .promise-top
      height 90px
      h2
        font 800 30px "Microsoft YaHei"
        padding 20px 0 8px
        span
          color red1
      p
        font-size 22px
    .promise-bottom
      height 50px
      display flex
      justify-content center
      font-size 18px
      div
        padding 20px 35px 0 0
        &:last-child
          padding-right 0
      img
        vertical-align middle
        margin-right 10px
// footer
  #footer
    height 310px
  //热门城市
    .hot-city
      height 120px
      width 1200px
      margin 0 auto
      .hot
        width 72px
        font 700 18px "Microsoft YaHei"
        float left
        margin-right 30px
        clear-fixed()
      .city-list
        width 1098px
        font 200 16px "Microsoft YaHei"
        color #898989
        float left
        clear-fixed()
        i
          display inline-block
          font-style normal
          width 9%
          line-height 30px
          text-align center
    .partner-wrapper
      background #f8f8f8
      overflow hidden
      .partner-des
        width 1200px
        margin 20px auto
        color #121212
        font 700 18px "Microsoft YaHei"
      .partner
        width 1200px
        margin 0 auto
        li
          width 120px
          height 60px
          background #fff
          margin-left 12px
          margin-bottom 20px
          text-align center
          line-height 100px
          float left
          clear-fixed()
          &:nth-child(9n+1)
            margin-left 0
          img
            width 100px
      .copyright
        width 1200px
        margin 10px auto
        font-size 14px
        color #757881