* {
  box-sizing: border-box;
}
body {
  width: 100%;
  color: #121212;
}
#header {
  background-color: #fff;
  position: relative;
  border-bottom: solid #e7e7e7 1px;
}
#header .nav-transparent .nav-default {
  width: 1200px;
  height: 71px;
  margin: 0 auto;
}
#header .nav-transparent .nav-default .nav-left {
  float: left;
  height: 65px;
  padding: 15px 0;
}
#header .nav-transparent .nav-default .nav-left:after {
  counter: "";
  display: block;
  clear: both;
}
#header .nav-transparent .nav-default .nav-right {
  height: 42px;
  margin-top: 13px;
  float: right;
}
#header .nav-transparent .nav-default .nav-right:after {
  counter: "";
  display: block;
  clear: both;
}
#header .nav-transparent .nav-default .nav-right li {
  float: left;
  line-height: 20px;
  text-align: center;
  padding: 10px 15px;
}
#header .nav-transparent .nav-default .nav-right li:after {
  counter: "";
  display: block;
  clear: both;
}
#header .nav-transparent .nav-default .nav-right li:first-child {
  margin-right: 50px;
  vertical-align: top;
}
#header .nav-transparent .nav-default .nav-right li:last-child {
  margin-right: 10px;
}
#header .nav-transparent .nav-default .nav-right li:last-child a {
  padding: 4px 6px;
  color: #fff;
  background: #e94840;
  border-radius: 6px;
}
#header .nav-transparent .nav-default .nav-right li a {
  font-weight: bold;
  color: #121212;
}
#header .nav-transparent .nav-default .nav-right li a span {
  font-weight: bold;
  color: #121212;
  vertical-align: top;
}
#header .nav-transparent .nav-default .nav-right li a span.city:hover {
  color: #e94840;
}
#header .nav-transparent .nav-default .nav-right li a:hover {
  color: #e94840;
  transition: 0.5s;
}
#promise {
  height: 250px;
  padding: 60px 0 50px;
  text-align: center;
}
#promise .promise-top {
  height: 90px;
}
#promise .promise-top h2 {
  font: 800 30px "Microsoft YaHei";
  padding: 20px 0 8px;
}
#promise .promise-top h2 span {
  color: #e94840;
}
#promise .promise-top p {
  font-size: 22px;
}
#promise .promise-bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
#promise .promise-bottom div {
  padding: 20px 35px 0 0;
}
#promise .promise-bottom div:last-child {
  padding-right: 0;
}
#promise .promise-bottom img {
  vertical-align: middle;
  margin-right: 10px;
}
#footer {
  height: 310px;
}
.hot-city {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
}
.hot-city .hot {
  width: 72px;
  font: 700 18px "Microsoft YaHei";
  float: left;
  margin-right: 30px;
}
.hot-city .hot:after {
  counter: "";
  display: block;
  clear: both;
}
.hot-city .city-list {
  width: 1098px;
  font: 200 16px "Microsoft YaHei";
  color: #898989;
  float: left;
}
.hot-city .city-list:after {
  counter: "";
  display: block;
  clear: both;
}
.hot-city .city-list i {
  display: inline-block;
  font-style: normal;
  width: 9%;
  line-height: 30px;
  text-align: center;
}
.partner-wrapper {
  background: #f8f8f8;
  overflow: hidden;
}
.partner-wrapper .partner-des {
  width: 1200px;
  margin: 20px auto;
  color: #121212;
  font: 700 18px "Microsoft YaHei";
}
.partner-wrapper .partner {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.partner-wrapper .partner li {
  width: 120px;
  height: 60px;
  background: #fff;
  margin-left: 12px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 100px;
  float: left;
}
.partner-wrapper .partner li:after {
  counter: "";
  display: block;
  clear: both;
}
.partner-wrapper .partner li:nth-child(9n+1) {
  margin-left: 0;
}
.partner-wrapper .partner li img {
  width: 100px;
}
.copyright {
  width: 1200px;
  margin: 10px auto;
  font-size: 14px;
  color: #757881;
}
body {
  width: 100%;
  color: #121212;
}
#banner {
  position: relative;
  overflow: hidden;
}
#banner .full-banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#banner .full-banner ul {
  position: absolute;
}
#banner .full-banner ul li {
  width: 100%;
  height: 420px;
  float: left;
  background: no-repeat center center;
}
#banner .full-banner ol {
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  padding: 0 10px;
  border-radius: 10px;
}
#banner .full-banner ol li {
  width: 10px;
  height: 10px;
  float: left;
  margin: 5px 5px;
  background: #747474;
  border-radius: 50%;
  cursor: pointer;
}
#banner .full-banner ol li .current {
  background: #fff;
}
#banner .banner-nav {
  width: 180px;
  height: 420px;
  position: absolute;
  left: 104px;
  top: 0;
  background: #757881;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
#banner .banner-nav .navname {
  height: 42px;
  line-height: 42px;
  z-index: 10;
}
#banner .banner-nav .navname .nav-tog {
  display: inline-block;
  height: 42px;
  width: 180px;
  position: relative;
}
#banner .banner-nav .navname .nav-tog img {
  position: absolute;
  right: 32px;
  top: 16px;
}
#banner .banner-nav .navname .nav-tog:link {
  color: #fff;
}
#banner .banner-nav .navname .nav-tog:hover {
  background: #5c5f68;
}
#banner .banner-nav .navname .nav-tog:visited {
  color: #fff;
}
#banner .banner-nav .navname .nav-tog-box {
  position: absolute;
  left: 180px;
  top: 0;
  background: rgba(255,255,255,0.7);
  width: 160px;
  height: 420px;
  overflow: visible;
  display: none;
}
#banner .banner-nav .navname .nav-tog-box a:link {
  color: #000;
}
#banner .banner-nav .navname .nav-tog-box a:hover {
  color: #e94840;
}
#servers .servers-wrapper:nth-child(even) {
  background: #fbf8f8;
}
#servers .servers-wrapper {
  height: 566px;
  padding: 60px 0;
  text-align: center;
}
#servers .servers-wrapper .servers-nav {
  width: 1200px;
  height: 77px;
  color: #3d3838;
  position: relative;
  margin: 0 auto;
}
#servers .servers-wrapper .servers-nav .servers-index {
  font: 800 28px "Microsoft YaHei";
}
#servers .servers-wrapper .servers-nav .servers-type {
  margin-top: 15px;
  font-size: 22px;
}
#servers .servers-wrapper .servers-nav .servers-more {
  position: absolute;
  right: 0;
  top: 66px;
  color: #898989;
  font-size: 18px;
}
#servers .servers-wrapper .serves-list-wrapper {
  height: 345px;
  width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list {
  width: 230px;
  height: 345px;
  border: 1px solid #eaeaea;
  padding-top: 10px;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list:hover {
  box-shadow: 5px 5px 15px #ccc;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list .servers-list-img {
  width: 210px;
  height: 210px;
  margin: 0 5px;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list .servers-list-Name {
  padding: 10px 10px;
  height: 28px;
  color: #121212;
  font-weight: 800;
  text-align: start;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list .servers-list-description {
  padding: 5px 10px;
  width: 100%;
  height: 58px;
  font-size: 13px;
  line-height: 18px;
  text-overflow: ellipsis;
  color: #929292;
  text-align: start;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list .servers-list-price {
  padding: 0 15px;
  font-size: 14px;
  color: #e94840;
  font-weight: bold;
  text-align: start;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list .servers-list-price :first-child {
  font-size: 20px;
}
#servers .servers-wrapper .serves-list-wrapper .servers-list .servers-list-price :last-child {
  padding: 6px 10px;
  float: right;
  color: #fff;
  background: #e94840;
  border-radius: 8px;
}
