// 引入文件
@import "mixins.styl"
@import "public.styl"
// 服务商
  #services
    background #FBF8F8
    overflow hidden
    .services-des
      width 1200px
      margin 30px auto 0
      color #121212
      font 700 18px "Microsoft YaHei"
    .services-list-wrapper
      width 1200px
      padding-top 30px
      margin 0 auto
      position relative
      .services-list
        width 970px
        display flex
        justify-content space-between
        flex-wrap wrap
        .services-list-item-wrapper
          width 230px
          height 300px
          margin 0 10px 10px 0
          border 1px solid #eaeaea
          padding 10px
          &:hover
           box-shadow 5px 5px 15px #ccc
          .services-list-img
            width 210px
            height 210px
          .services-list-Name
            height 26px
            font-size 18x
            color #121212
            font-weight 700
            margin 15px 0 5px 0
          .services-list-des
            font-size 12px
            color #929292
            overflow hidden
            :last-child
              float right
      .jiameng
        position absolute
        top 30px
        right 0
      .erweima
        width 230px
        height 290px
        background url(../image/tuijianfuwushang_06.jpg) no-repeat center
        position absolute
        top 340px
        right 0
        text-align center
        line-height 330px
        img
          width 130px
          height 130px
      .services-more
        width 970px
        height 152px
        display flex
        justify-content center
        align-items center
        p
          width 200px
          height 50px
          margin 0 auto
          border 1px solid #e5e5e5
          border-radius 5px
          background #fff
          font-size 16px
          color #b1b1b1
          text-align center
          line-height 50px