* {
  box-sizing: border-box;
}
body {
  width: 100%;
  color: #121212;
}
#header {
  background-color: #fff;
  position: relative;
  border-bottom: solid #e7e7e7 1px;
}
#header .nav-transparent .nav-default {
  width: 1200px;
  height: 71px;
  margin: 0 auto;
}
#header .nav-transparent .nav-default .nav-left {
  float: left;
  height: 65px;
  padding: 15px 0;
}
#header .nav-transparent .nav-default .nav-left:after {
  counter: "";
  display: block;
  clear: both;
}
#header .nav-transparent .nav-default .nav-right {
  height: 42px;
  margin-top: 13px;
  float: right;
}
#header .nav-transparent .nav-default .nav-right:after {
  counter: "";
  display: block;
  clear: both;
}
#header .nav-transparent .nav-default .nav-right li {
  float: left;
  line-height: 20px;
  text-align: center;
  padding: 10px 15px;
}
#header .nav-transparent .nav-default .nav-right li:after {
  counter: "";
  display: block;
  clear: both;
}
#header .nav-transparent .nav-default .nav-right li:first-child {
  margin-right: 50px;
  vertical-align: top;
}
#header .nav-transparent .nav-default .nav-right li:last-child {
  margin-right: 10px;
}
#header .nav-transparent .nav-default .nav-right li:last-child a {
  padding: 4px 6px;
  color: #fff;
  background: #e94840;
  border-radius: 6px;
}
#header .nav-transparent .nav-default .nav-right li a {
  font-weight: bold;
  color: #121212;
}
#header .nav-transparent .nav-default .nav-right li a span {
  font-weight: bold;
  color: #121212;
  vertical-align: top;
}
#header .nav-transparent .nav-default .nav-right li a span.city:hover {
  color: #e94840;
}
#header .nav-transparent .nav-default .nav-right li a:hover {
  color: #e94840;
  transition: 0.5s;
}
#services {
  background: #fbf8f8;
  overflow: hidden;
}
#services .services-des {
  width: 1200px;
  margin: 30px auto 0;
  color: #121212;
  font: 700 18px "Microsoft YaHei";
}
#services .services-list-wrapper {
  width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
}
#services .services-list-wrapper .services-list {
  width: 970px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#services .services-list-wrapper .services-list .services-list-item-wrapper {
  width: 230px;
  height: 300px;
  margin: 0 10px 10px 0;
  border: 1px solid #eaeaea;
  padding: 10px;
}
#services .services-list-wrapper .services-list .services-list-item-wrapper:hover {
  box-shadow: 5px 5px 15px #ccc;
}
#services .services-list-wrapper .services-list .services-list-item-wrapper .services-list-img {
  width: 210px;
  height: 210px;
}
#services .services-list-wrapper .services-list .services-list-item-wrapper .services-list-Name {
  height: 26px;
  font-size: 18x;
  color: #121212;
  font-weight: 700;
  margin: 15px 0 5px 0;
}
#services .services-list-wrapper .services-list .services-list-item-wrapper .services-list-des {
  font-size: 12px;
  color: #929292;
  overflow: hidden;
}
#services .services-list-wrapper .services-list .services-list-item-wrapper .services-list-des :last-child {
  float: right;
}
#services .services-list-wrapper .jiameng {
  position: absolute;
  top: 30px;
  right: 0;
}
#services .services-list-wrapper .erweima {
  width: 230px;
  height: 290px;
  background: url("../image/tuijianfuwushang_06.jpg") no-repeat center;
  position: absolute;
  top: 340px;
  right: 0;
  text-align: center;
  line-height: 330px;
}
#services .services-list-wrapper .erweima img {
  width: 130px;
  height: 130px;
}
#services .services-list-wrapper .services-more {
  width: 970px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .services-list-wrapper .services-more p {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
  font-size: 16px;
  color: #b1b1b1;
  text-align: center;
  line-height: 50px;
}
#promise {
  height: 250px;
  padding: 60px 0 50px;
  text-align: center;
}
#promise .promise-top {
  height: 90px;
}
#promise .promise-top h2 {
  font: 800 30px "Microsoft YaHei";
  padding: 20px 0 8px;
}
#promise .promise-top h2 span {
  color: #e94840;
}
#promise .promise-top p {
  font-size: 22px;
}
#promise .promise-bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
#promise .promise-bottom div {
  padding: 20px 35px 0 0;
}
#promise .promise-bottom div:last-child {
  padding-right: 0;
}
#promise .promise-bottom img {
  vertical-align: middle;
  margin-right: 10px;
}
#footer {
  height: 310px;
}
.hot-city {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
}
.hot-city .hot {
  width: 72px;
  font: 700 18px "Microsoft YaHei";
  float: left;
  margin-right: 30px;
}
.hot-city .hot:after {
  counter: "";
  display: block;
  clear: both;
}
.hot-city .city-list {
  width: 1098px;
  font: 200 16px "Microsoft YaHei";
  color: #898989;
  float: left;
}
.hot-city .city-list:after {
  counter: "";
  display: block;
  clear: both;
}
.hot-city .city-list i {
  display: inline-block;
  font-style: normal;
  width: 9%;
  line-height: 30px;
  text-align: center;
}
.partner-wrapper {
  background: #f8f8f8;
  overflow: hidden;
}
.partner-wrapper .partner-des {
  width: 1200px;
  margin: 20px auto;
  color: #121212;
  font: 700 18px "Microsoft YaHei";
}
.partner-wrapper .partner {
  width: 1200px;
  margin: 0 auto;
}
.partner-wrapper .partner li {
  width: 120px;
  height: 60px;
  background: #fff;
  margin-left: 12px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 100px;
  float: left;
}
.partner-wrapper .partner li:after {
  counter: "";
  display: block;
  clear: both;
}
.partner-wrapper .partner li:nth-child(9n+1) {
  margin-left: 0;
}
.partner-wrapper .partner li img {
  width: 100px;
}
.partner-wrapper .copyright {
  width: 1200px;
  margin: 10px auto;
  font-size: 14px;
  color: #757881;
}
