// 引入文件
@import "mixins.styl"

*
  box-sizing border-box
body
  width 100%
  color: #121212
// 头部
  #header
    background-color #fff
    position relative
    border-bottom solid #e7e7e7 1px
    .nav-transparent
    //position fixed
    //top 0
    //left 0
      .nav-default
        width 1200px
        height 71px
        margin 0 auto
        .nav-left
          float left
          height 65px
          clear-fixed()
          padding 15px 0
        .nav-right
          height 42px
          margin-top 13px
          float right
          clear-fixed()
          li
            float left
            line-height 20px
            text-align center
            clear-fixed()
            padding 10px 15px
            &:first-child
              margin-right 50px
              vertical-align top
            &:last-child
              margin-right 10px
              a
                padding 4px 6px
                color #fff
                background red1
                border-radius 6px
            a
              font-weight bold
              color #121212
              span
                font-weight bold
                color #121212
                vertical-align top
                &.city:hover
                  color red1
              &:hover
                color red1
                transition .5s
// 服务商
  #services
    background #FBF8F8
    overflow hidden
    .services-des
      width 1200px
      margin 30px auto 0
      color #121212
      font 700 18px "Microsoft YaHei"
    .services-list-wrapper
      width 1200px
      padding-top 30px
      margin 0 auto
      position relative
      .services-list
        width 970px
        display flex
        justify-content space-between
        flex-wrap wrap
        .services-list-item-wrapper
          width 230px
          height 300px
          margin 0 10px 10px 0
          border 1px solid #eaeaea
          padding 10px
          &:hover
           box-shadow 5px 5px 15px #ccc
          .services-list-img
            width 210px
            height 210px
          .services-list-Name
            height 26px
            font-size 18x
            color #121212
            font-weight 700
            margin 15px 0 5px 0
          .services-list-des
            font-size 12px
            color #929292
            overflow hidden
            :last-child
              float right
      .jiameng
        position absolute
        top 30px
        right 0
      .erweima
        width 230px
        height 290px
        background url(../image/tuijianfuwushang_06.jpg) no-repeat center
        position absolute
        top 340px
        right 0
        text-align center
        line-height 330px
        img
          width 130px
          height 130px
      .services-more
        width 970px
        height 152px
        display flex
        justify-content center
        align-items center
        p
          width 200px
          height 50px
          margin 0 auto
          border 1px solid #e5e5e5
          border-radius 5px
          background #fff
          font-size 16px
          color #b1b1b1
          text-align center
          line-height 50px
// promise
  #promise
    height 250px
    padding 60px 0 50px
    text-align center
    .promise-top
      height 90px
      h2
        font 800 30px "Microsoft YaHei"
        padding 20px 0 8px
        span
          color red1
      p
        font-size 22px
    .promise-bottom
      height 50px
      display flex
      justify-content center
      font-size 18px
      div
        padding 20px 35px 0 0
        &:last-child
          padding-right 0
      img
        vertical-align middle
        margin-right 10px
// footer
  #footer
    height 310px
  //热门城市
    .hot-city
      height 120px
      width 1200px
      margin 0 auto
      .hot
        width 72px
        font 700 18px "Microsoft YaHei"
        float left
        margin-right 30px
        clear-fixed()
      .city-list
        width 1098px
        font 200 16px "Microsoft YaHei"
        color #898989
        float left
        clear-fixed()
        i
          display inline-block
          font-style normal
          width 9%
          line-height 30px
          text-align center
    .partner-wrapper
      background #f8f8f8
      overflow hidden
      .partner-des
        width 1200px
        margin 20px auto
        color #121212
        font 700 18px "Microsoft YaHei"
      .partner
        width 1200px
        margin 0 auto
        li
          width 120px
          height 60px
          background #fff
          margin-left 12px
          margin-bottom 20px
          text-align center
          line-height 100px
          float left
          clear-fixed()
          &:nth-child(9n+1)
            margin-left 0
          img
            width 100px
      .copyright
        width 1200px
        margin 10px auto
        font-size 14px
        color #757881